<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88817045903-drj5sggumbb08pk07hc0ao82gpcg3rl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88817045903-drj5sggumbb08pk07hc0ao82gpcg3rl5</string>
	<key>API_KEY</key>
	<string>AIzaSyC90vfMQsepxQReWzbE4KEBA4P_l80fkhs</string>
	<key>GCM_SENDER_ID</key>
	<string>88817045903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shamil.baitulmaal</string>
	<key>PROJECT_ID</key>
	<string>baitulmaal-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>baitulmaal-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88817045903:ios:30e60976f621ebbf02fbfa</string>
</dict>
</plist>